// -----------------------------------------------------------------------------
// This file contains all application-wide Sass for variables, mixins, includes and functions.
// -----------------------------------------------------------------------------

//Variables
$cor-preta: #1a1b1f;
$cor-cinza-claro: #f1f1f1;
$cor-cinza: #e1e1e1;
$cor-cinza-escuro: #4b4d4d;
$cor-azul-escuro: #1c415c;
$cor-amarelo: #eebe2a;
$cor-azul-claro: #256783;
//mixins
@mixin flex(
	$direction: row,
	$wrap: nowrap,
	$align: stretch,
	$justify: start,
	$gap: 0
) {
	display: flex;
	flex-flow: $direction $wrap;
	align-items: $align;
	justify-content: $justify;
	gap: $gap;
}
